<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>publicHealth</display-name>
  <!-- 配置字符编码过滤器 -->
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.xnxy17jk2.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- 未登录用户过滤器 -->
  <filter>
    <filter-name>UserLoginFilter</filter-name>
    <filter-class>com.xnxy17jk2.filter.UserLoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>UserLoginFilter</filter-name>
  	<url-pattern>/index</url-pattern>
  	<url-pattern>/resident</url-pattern>
  	<url-pattern>/residentHealthy</url-pattern>
  	<url-pattern>/hypertension</url-pattern>
  	<url-pattern>/diabetes</url-pattern>
  	<url-pattern>/childrenHealthy</url-pattern>
  	<url-pattern>/childrenVaccine</url-pattern>
  	<url-pattern>/elderly</url-pattern>
  	<url-pattern>/maternal</url-pattern>
  	<url-pattern>/group</url-pattern>
  	<url-pattern>/personal</url-pattern>
  	<url-pattern>/infectious</url-pattern>
    <url-pattern>/jsp/education/*</url-pattern>
    <url-pattern>/jsp/infectious/*</url-pattern>
    <url-pattern>/jsp/special/*</url-pattern>
    <url-pattern>/jsp/education/*</url-pattern>
    <url-pattern>/jsp/infectious/*</url-pattern>
  	<url-pattern>/jsp/manageIndex.jsp</url-pattern>
    <url-pattern>/jsp/nav.jsp</url-pattern>
  </filter-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.xnxy17jk2.util.ImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.xnxy17jk2.biz.index.web.IndexServlet</servlet-class>
  </servlet>
  <servlet>

    <servlet-name>ResidentServlet</servlet-name>
    <servlet-class>com.xnxy17jk2.biz.commonly.resident.web.ResidentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResidentHealthyServlet</servlet-name>
    <servlet-class>com.xnxy17jk2.biz.commonly.residentHealthy.web.ResidentHealthyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HypertensionServlet</servlet-name>
    <servlet-class>com.xnxy17jk2.biz.commonly.hypertension.web.HypertensionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DiabetesServlet</servlet-name>
    <servlet-class>com.xnxy17jk2.biz.commonly.diabetes.web.DiabetesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChildrenHealthyServlet</servlet-name>
    <servlet-class>com.xnxy17jk2.biz.special.childrenHealthy.web.ChildrenHealthyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChildrenVaccineServlet</servlet-name>
    <servlet-class>com.xnxy17jk2.biz.special.childrenVaccine.web.ChildrenVaccineServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ElderlyServlet</servlet-name>
    <servlet-class>com.xnxy17jk2.biz.special.elderly.web.ElderlyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MaternalServlet</servlet-name>
    <servlet-class>com.xnxy17jk2.biz.special.maternal.web.MaternalServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GroupServlet</servlet-name>
    <servlet-class>com.xnxy17jk2.biz.education.group.web.GroupServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PersonalServlet</servlet-name>
    <servlet-class>com.xnxy17jk2.biz.education.personal.web.PersonalServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InfectiousServlet</servlet-name>
    <servlet-class>com.xnxy17jk2.biz.infectious.web.InfectiousServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.xnxy17jk2.biz.user.web.UserServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/codeImage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ResidentServlet</servlet-name>
    <url-pattern>/resident</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResidentHealthyServlet</servlet-name>
    <url-pattern>/residentHealthy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HypertensionServlet</servlet-name>
    <url-pattern>/hypertension</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DiabetesServlet</servlet-name>
    <url-pattern>/diabetes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChildrenHealthyServlet</servlet-name>
    <url-pattern>/childrenHealthy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChildrenVaccineServlet</servlet-name>
    <url-pattern>/childrenVaccine</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ElderlyServlet</servlet-name>
    <url-pattern>/elderly</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MaternalServlet</servlet-name>
    <url-pattern>/maternal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GroupServlet</servlet-name>
    <url-pattern>/group</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonalServlet</servlet-name>
    <url-pattern>/personal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InfectiousServlet</servlet-name>
    <url-pattern>/infectious</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
</web-app>